/*Reset*/
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #464646;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Menu*/
body .tudo,
.inicial {
    padding: 2rem;
    font-family: Raleway, sans-serif;
    align-items: center;
}

header,
header section,
.menu-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-network {
    padding: 0;
    margin: 0;
}

header section,
.menu-nav ul,
.inicial {
    gap: 1em;
}

header img {
    width: 2.5em;
    height: 2.5em;
}

#contato {
    font-weight: bold;
}

h1 {
    margin: 0;
}

/*Menu*/

.inicial,
.titulo-network {
    display: flex;
    background-color: #f5f5f5;
}

.foto-perfil {
    width: 25em;
    height: 25em;
    border-radius: 50%;
}

.titulo-bio1 {
    font-size: 3.25rem;
}

.titulo-bio2 {
    font-size: 1.375rem;
    font-weight: none;
    margin-bottom: 30px;
    line-height: 1.8rem;

}

.titulo-network {
    gap: 2rem;
    font-size: 16px;

}

h3 {
    font-size: 2rem;
}

/*Sobre mim*/
.sobre-mim,
.form-contato {
    background-color: #eaf2fd;
    padding: 4rem 2rem;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobre-mim {
    font-size: 1rem;
    margin-top: 1rem;
    max-width: 80rem;
    padding-right: 20rem;
}

.skills-linha,
.hobbies-linha,
.academico-cursos {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

#typescript {
    height: 28px;
    width: 28px;
}


.skills-conteiner ul,
.hobbies-conteiner ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.hobbies-img img {
    width: 2em;
    height: 2em;
}

/*Academicos*/

.academico-cursos {
    display: flex;
    margin: auto 10%;
    margin: 0;
}

.academico-cursos-conteiner ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
}

.academico-cursos-item-img img {
    width: 15em;
    height: 10em;
}

.experiencia-section-titulo {
    display: flex;
    gap: 1em;
}

.experiencia-principal {
 display: flex;
 gap: 2em;
 justify-content: space-between;

}

.experiencia-conteiner {
    display: flex;
    gap: 1.5em;
    width: 80%;
    flex-direction: wrap;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1em;
    
}

.expericia-informacao {
    width: 40%;
    align-items: center;
}

.experiencia-conteiner .experiencia-img {
    width: 40%;
    height: 50%;
    border-radius: 10px;

}

.experiencia-descricao {
    display: flex;
    gap: 0.2em;
    justify-content: space-between;
    align-items: center;
}

/* Contato */

.form-contato-img {
    border-radius: 10px;
}

.form-contato-texto h3 {
    margin: 0;
}

.form-contato-contato,
.form-contato-form {
    display: flex;
    gap: 2em;
}

.form-contato-form {
    flex-direction: column;
}

.form-contato-subtext {
    font-weight: lighter;
}

.form-contato-input,
.form-contato-textarea {
    border-radius: 4px;
    width: 100%;
    border: none;
    font-size: 1rem;
}

.form-contato-input {
    height: 53px;
}

button {
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
    background-color: rgb(42, 122, 228);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: rgb(42, 122, 228);
    font-weight: bold;
    border: rgb(42, 122, 228) solid 2px;
}

.rodape {
    text-align: center;
}



/*Tablet*/
@media (min-width: 768px) {

    /* Menu */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sessão sobre*/

    /*Skills*/

    /*Hobbies*/

    /*Formação Acadêmica*/

    /*Experiência Profissional*/

    /*Contato*/

    /*Footer*/

}