@media (max-width: 1115px) {
  .imagem-hobbies {
    margin-right: 2rem;
  }
}

@media (max-width: 1055px) {
  .formas-contato {
    flex-direction: column;
  }
}

@media (max-width: 941px) {
  .experiencia-conteiner {
    justify-content: center;
  }

  .experiencia .experiencia-conteiner .imagem-demo {
    height: 31rem;
    width: 28.5rem;
  }

  .experiencia .experiencia-conteiner .imagem-demo .experiencia-img {
    width: 29.2rem;
    height: 16rem;
  }
}

/*Tablet*/
@media (max-width: 850px) {
  header .menu-nav {
    align-items: center;
    font-size: 0.875rem;
  }

  header .campo-logo img {
    padding-left: 0;
    padding-right: 0;
  }

  header h1 {
    display: none;
  }

  header nav ul li a {
    font-size: 1rem;
  }

  main .skills-section,
  .academico-section,
  .sobre-mim-container,
  .experiencia,
  .form-contato-section,
  .hobbies {
    padding: 2rem 1.5rem;
  }

  main section {
    min-height: 100%;
    height: unset;
  }

  main .inicial {
    gap: 1rem;
    padding-top: 8em;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  .titulo-bio1 {
    font-size: 1.8rem;
  }

  .meu-nome {
    font-size: 2rem;
  }

  .titulo-bio2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .segundo-titulo {
    height: 2em;
  }

  .titulo-network {
    gap: 1em;
    font-size: 1rem;
  }

  .network {
    font-size: 1.25rem;
  }

  .titulo-network .network a {
    font-size: 1rem;
  }

  main .inicial .foto-perfil {
    max-width: 15em;
    max-height: 15em;
    border-radius: 50%;
  }

  .conteiner-inicial .titulo-container {
    flex-direction: column-reverse;
  }

  h3 {
    text-align: center;
  }

  .sobre-mim {
    padding-right: 0;
    padding-left: 0;
    padding: 0 1.5rem;
    display: block;
  }

  .sobre-mim .conteiner-estrelas {
    display: none;
  }

  #assinatura {
    width: 100%;
    height: unset;
  }

  .skills-section .skills-linha {
    gap: 0.8rem;
    justify-content: center;
  }

  .hobbies .hobbies-box {
    flex-direction: column-reverse;
    gap: 1.5em;
    justify-content: center;
  }

  .hobbies-conteiner ul,
  .skills-conteiner ul {
    width: 12rem;
  }

  .hobbies .hobbies-box .imagem-hobbies {
    margin: auto;
    padding: 2rem;
  }

  .hobbies .hobbies-box .hobbies-linha {
    justify-content: center;
    gap: 0.8rem;
  }

  .academico-section .academico-cursos {
    justify-content: center;
  }

  .form-contato-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .form-contato-section .form-contato-contato {
    flex-direction: column;
    align-items: unset;
    gap: 1.5em;
  }
}

@media (max-width: 576px) {
  body header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: sticky; 
    z-index: 20;
  }

  .icone-menu {
    display: inline;
    padding: 1rem 2.5rem;
  }

  .card-container ul {
    width: unset;
    width: 5em;
    max-height: 5em;
  }

  .imagem-hobbies {
    width: unset;
    max-width: 12.5rem;
    padding: 1rem;
  }

  .img-quadrinhos-hobbies {
    width: unset;
    height: unset;
    max-width: 100%;
    object-fit: fill;
  }

  .menu-nav {
    padding: 0 3rem;
  }

  .menu-nav ul {
    align-items: start;
  }

  .academico-cursos-conteiner ul {
    min-width: 8rem;
    height: 12em;
  }

  .experiencia .experiencia-conteiner .imagem-demo {
    width: unset;
    height: unset;
    max-width: 17rem;
    min-height: 20.5rem;
  }
  .experiencia .experiencia-conteiner .imagem-demo .experiencia-img {
    width: unset;
    height: unset;
    min-height: 14rem;
    max-width: 100%;
    object-fit: fill;
  }

  .experiencia-texto {
    width: unset;
  }

  .form-contato-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav.menu-nav .container-responsive-menu .mostrar-menu {
    max-height: 25rem;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
  }

  .container-responsive-menu {
    align-items:start; 
    flex-direction: column;
    top: 4.3rem;
    left: 4rem;
    transition: max-height 1s, margin-bottom 0.5s, margin-top 1s;
    gap: 1.25em;
    overflow: hidden;
  }

  .mostrar-menu li {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
    display: none;
    /* max-height: 0; */
    overflow: hidden;
    margin-bottom: 0;
  }

  .rodape {
    padding: 1rem 0;
  }

  .rodape p {
    font-size: 0.875em;
  }
}
